*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-logo{
    height: 30vh;
    width: 100vw;
    background-color: hsl(305, 66%, 47%);
}
/* .nav-logo .logo{
    position: relative;
    
    height: 10vh;
    width: 30vw;
}
.nav-logo .logo img{
    height: 50px;
} */
.nav-logo nav{
    position: relative;
    top: 20px;
    left: 30px;
    height: 15vh;
    width: 47vw;
}
.nav-logo nav ul{
    display: flex;
    list-style: none
}
.nav-logo nav ul li{
    padding: 17px;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-logo nav ul li:hover{
    background-color: black;
    color: white;
    border-radius: 30px;
}
/* .logo{
 
 height: 15vh;
 width: 10vw;
 background-color: aqua;
} */
.logo a{
    text-decoration: none;
}
.logo a img{
    position: relative;
    left: 600px;
    bottom: 78px;
    height: 100px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    
}
form {
    background-color: #4654e1;
    width: 500px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    padding: 50px 0px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
    height: 480px
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(15, 15, 15);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(240, 235, 235, 0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family:  sans-serif;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition:  0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }